$font-stack: 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB',
'Microsoft YaHei', '微軟雅黑', '微软雅黑', 'Arial', 'sans-serif';
$main-color: #46a0fc;

.body {
  font-family: $font-stack;
  margin: 0;
}

.el-header {
  background-color: $main-color;
  height: 50px;
  padding: 15px;
  position: fixed;
  width: 100%;

  $title-color: #fff;

  .title {
    color: $title-color;
    font-size: 25px;
    margin-left: 5px;
  }
}

.el-main {
  margin-left: -6px;
  margin-top: 40px;
}
