$font-stack: 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB',
'Microsoft YaHei', '微軟雅黑', '微软雅黑', 'Arial', 'sans-serif';
$main-color: #46a0fc;
$icon-font-size: 20px;

.body {
  font-family: $font-stack;
  margin: 0;
}
